# Ignore Python bytecode files and directories
__pycache__/
*.pyc
*.pyo
*.pyd
# *.pdf
# *.png
*.jpg
# *.yaml
*.pth
*.json
*.zip
HW1/*.sh
HW2/*.sh
HW3/*.sh
HW4/*.sh
*.ckpt

final_proj/datasets/train/HR
final_proj/datasets/train/LR
final_proj/datasets/val/HR
final_proj/datasets/val/LR

# Ignore any directory named "checkpoints"
**/checkpoints*/
**/cp*/
**/backup/
HW3/data/
HW4/data/
**/results/
final/
final_proj/videogames_data
final_proj/tb_logger
images_HW3/

*/*.txt

selected_HW3
wandb
output
