# Ignore Python bytecode files and directories
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdf
# *.png
*.jpg
# *.yaml
*.pth
*.json
*.zip
**/*.sh
*.ckpt

# Ignore any directory named "checkpoints"
**/checkpoints*/
**/cp*/
**/backup/
**/data/
**/results/
final/
images_HW3/

selected_HW3
wandb
output
