# Ignore Python bytecode files and directories
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdf
*.png
*.jpg
**/*.sh

# Ignore any directory named "checkpoints"
**/checkpoints*/
**/cp*/
**/backup/
**/data/
**/results/
